<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/form.css" />
  </head>

  <body>
    <div class="container">
      <div class="formBox level-login">
        <div class="box boxShaddow"></div>
        <div class="box loginBox">
          <h2>LOGIN</h2>

          <% if( error !="" ){ %>
          <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <strong> Error </strong>
              <%= error %>.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <% } %> <% if( error_messages !="" ){ %>
          <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <strong> Error </strong>
              <%= error_messages %>.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <% } %> <% if( success_messages !="" ){ %>
          <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong> Success</strong>
              <%= success_messages %>.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <% } %>
          <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="returnurl" value="<%= returnurl %>" />
            <div class="f_row">
              <label>Email</label>
              <input
                type="email"
                class="input-field"
                name="email"
                id="username"
                autocomplete="off"
                required
              />
              <u></u>
            </div>
            <div class="f_row last">
              <label>Password</label>
              <input
                type="password"
                name="password"
                class="input-field"
                id="password"
                autocomplete="off"
                required
              />
              <u></u>
            </div>
            <div class="mb-3">
              <center><%- recaptcha %></center>
            </div>
            <button class="btn">
              <span>GO</span><u></u>
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 415.582 415.582"
                xml:space="preserve"
              >
                <path
                  d="M411.47,96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853,0L152.348,243.058l-82.066-82.064
                                          c-5.48-5.482-14.37-5.482-19.851,0l-46.319,46.32c-5.482,5.481-5.482,14.37,0,19.852l138.311,138.31
                                          c2.741,2.742,6.334,4.112,9.926,4.112c3.593,0,7.186-1.37,9.926-4.112L411.47,116.277c2.633-2.632,4.111-6.203,4.111-9.925
                                          C415.582,102.628,414.103,99.059,411.47,96.426z"
                />
              </svg>
            </button>
            <div class="f_link">
              <a href="" class="resetTag">Forgot your password?</a>
            </div>
          </form>
        </div>
        <div class="box forgetbox">
          <a href="#" class="back icon-back">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 199.404 199.404"
              style="enable-background: new 0 0 199.404 199.404"
              xml:space="preserve"
            >
              <polygon
                points="199.404,81.529 74.742,81.529 127.987,28.285 99.701,0 0,99.702 99.701,199.404 127.987,171.119 74.742,117.876 
        199.404,117.876 "
              />
            </svg>
          </a>
          <h2>Reset Password</h2>
          <form class="form">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </p>
            <div class="f_row last">
              <label>Email Id</label>
              <input type="text" class="input-field" required />
              <u></u>
            </div>
            <button type="submit" class="btn">
              <span>Reset</span><u></u>
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 415.582 415.582"
                xml:space="preserve"
              >
                <path
                  d="M411.47,96.426l-46.319-46.32c-5.482-5.482-14.371-5.482-19.853,0L152.348,243.058l-82.066-82.064
                                          c-5.48-5.482-14.37-5.482-19.851,0l-46.319,46.32c-5.482,5.481-5.482,14.37,0,19.852l138.311,138.31
                                          c2.741,2.742,6.334,4.112,9.926,4.112c3.593,0,7.186-1.37,9.926-4.112L411.47,116.277c2.633-2.632,4.111-6.203,4.111-9.925
                                          C415.582,102.628,414.103,99.059,411.47,96.426z"
                />
              </svg>
            </button>
          </form>
        </div>
        <div class="box registerBox">
          <span class="reg_bg"></span>
          <h2>Register</h2>
          <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="f_row">
              <label for="email">Email</label>
              <input
                type="email"
                class="input-field"
                name="email"
                id="email"
                autocomplete="off"
                required
              />
              <u></u>
            </div>
            <div class="f_row">
              <label>Username</label>
              <input
                type="text"
                class="input-field"
                name="username"
                id="username"
                autocomplete="off"
                required
              />
              <u></u>
            </div>
            <div class="f_row">
              <label>Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="input-field"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                onkeyup="check();"
                required
              />
              <u></u>
              <div id="message">
                <p id="letter" class="invalid"><b>lowercase</b></p>
                <p id="capital" class="invalid"><b>capital (uppercase)</b></p>
                <p id="number" class="invalid"><b>number</b></p>
                <p id="length" class="invalid"><b>8 characters</b></p>
              </div>
            </div>

            <div class="f_row last" style="margin-bottom: 20px">
              <label>Repeat Password</label>
              <input
                type="password"
                name="confirmpassword"
                id="confirmpassword"
                class="input-field"
                onkeyup="check();"
                required
              />
              <u></u>
              <div id="messageconfirmpassword">
                <p id="samepw" class="invalid"><b>Password Same</b></p>
              </div>
            </div>
            <div class="mb-2">
              <center><%- recaptcha %></center>
            </div>
            <button class="btn-large">NEXT</button>
          </form>
        </div>
        <a href="#" class="regTag icon-add">
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 357 357"
            style="enable-background: new 0 0 357 357"
            xml:space="preserve"
          >
            <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />
          </svg>
        </a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/form.js"></script>
  </body>
</html>
